////////////////////////////////////////////////////////////////////////////////////////////////////
//                        by Yago Estévez. https://twitter.com/yagoestevez                        //
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

@import url('https://fonts.googleapis.com/css?family=Merriweather');

$primary-color        : #3C3B6E;
$secondary-color      : #ffffff;
$key-color            : #B22234;
 
:root, * {
  box-sizing          : border-box;
  padding             : 0;
  margin              : 0;
}

body {
  background          : $secondary-color;
  color               : $primary-color;
  font-family         : 'Merriweather', serif;
  padding             : 1rem;
  display             : flex;
  flex-direction      : column; 
  justify-content     : center;
  align-items         : center; 
}

#preloader {
  transition          : opacity 300ms;
  animation           : blink 1s infinite;
  @keyframes blink {
    0%   { opacity    :  1; }
    50%  { opacity    : .1; }
    100% { opacity    :  1; }
  }
  &.hidden {
    opacity           : 0;
    animation         : none;
  }
}



.counties {
  &:hover {
    fill              : $key-color;
  }
}

.states {
  fill                : none;
  stroke              : $secondary-color;
  stroke-width        : 0.5px;
  stroke-linejoin     : round;
  stroke-linecap      : round;
  pointer-events      : none;
}


footer {
  text-align          : center;
  width               : 50%;

  p {
    margin            : 1rem 0;
  }

  hr {
    border            : 0;
    height            : 0;
    border-bottom     : 1px solid rgba( $primary-color, .3 );
  }

  a, a:visited {
    color               : $key-color;
    text-decoration     : none;
    transition          : color 300ms;

    &:hover, &:active {
      color             : $primary-color;
    }
  }

}